{% extends 'app/base.html' %}


{% block content%}
{% load static %}

            <div class="container">
                <br>
                <br>
                <h4><b>BARCODE-QRCODE-GENERATOR</b></h4>
                <br>
                <br>
                <br>
                <br>
                <center>
                    <a href="/bar-generate"> Generate BarCode</a> | <a href="/qr-generate"> Generate QRCode</a>
                </center>
                
            </div> 



{% endblock %}