{% extends 'app/base.html' %}

{% block content%}
<br>
<br>
<br>
<br>
            <div class="container">
            
                <form method="POST" enctype='multipart/form-data'>{% csrf_token %}
            
                    <div class="form-group row mt-1"> 
                        <div class="col-11 col-md-9 mx-auto">
                            <b>qr-code</b>
                            <br>
                            <br>
                          <input type="text" class="form-control" id="content" name="content" placeholder="enter text to generate..." required="True">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            
                        </small>
                        </div>
                    </div>
                    
                    <div class="form-group row mt-1">
                        <div class="col-11 col-md-9 mx-auto text-center">
                          <button type="submit" class='btn btn-success'>    Generate     </button>
                        </div>
                      </div>
                </form>
                
            </div> 


{% endblock %}